@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial;
}
.hero {
	height: 50vh;
	width: 100vw;
	background: url(https://s3.us-east-1.amazonaws.com/co-assets/assets/images/_w622h415/accountant-vs-bookkeeper.jpg)
		center/cover no-repeat;
	position: relative;
}
.hero * {
	z-index: 100;
}
.hero:before {
	content: "";
	position: absolute;
	height: 50vh;
	width: 100vw;
	background: black;
	opacity: 0.6;
}

.btn {
	padding: 0.75rem 1rem;
	border-radius: 15px;
}
@media screen and (max-width: 1200px) {
	.info {
		/* background: blue; */
		grid-template-columns: 1fr;
	}
	.info div {
		flex-direction: row !important;
		margin-left: 1rem;
	}
}
